# custom 404 page

ErrorDocument 404 /pages/404.html

# rewrites

RewriteEngine On
RewriteBase /
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /pages/404.html [L]
