# custom 404 page

ErrorDocument 404 /pages/404.html
ErrorDocument 403 /pages/403.html

<FilesMatch "^\.">
Require all denied
</FilesMatch>

# rewrites

RewriteEngine On
RewriteBase /
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /pages/404.html [L]
